table{
    border-collapse:collapse;
}
thead tr:first-of-type{
    background: rgb(170, 170, 200);
}
thead tr:last-of-type{
    color :rgb(200,190,240);
    background: rgb(35,37,70);
    border:1px dotted;

}
td:first-of-type{
    background: rgb(255, 220, 220);
}
tbody td:last-of-type{
    background: rgb(255, 220, 220);
}
tbody tr:first-of-type td:first-of-type{
    background: dimgrey;
}
tbody tr:last-of-type td:nth-child(5),tr:last-of-type td:nth-child(6),tr:last-of-type td:nth-child(7){
    background: dimgrey;
}
td{
    border: 1px dotted;
}
tbody tr:nth-child(3) td:nth-child(3){
    background: rgb(250,120,120);
}