header{
    background-color: #2B2D42;
    font-family: Helvetica, sans-serif;
    padding: 30px;
    color:#8D99AE;
    margin-bottom:10px;
}
header h1,header h2{
    color:#EDF2F4;
}
h1{
    font-size: 80px;
}
h2{
    font-size: 40px;
}
.education{
    font-family: Helvetica, sans-serif;
    background-color: #8D99AE;
    padding:30px;
}
footer{
    font-family: Helvetica, sans-serif;
    background-color: #2B2D42;
    color:#8D99AE;
    padding:30px;
    margin-top:10px;
}
a{
    color:#EF233C;
}
